@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
  background: #0f0e17;
  font-family: 'Pixel Emulator', 'Press Start 2P', Courier new, monospace;
  color:#f8f8f8;
  text-shadow: 2px 0 0 #000, 0 2px 0 #000;
}
textarea.ff7{
  background-color: #282880;
  box-shadow: 0 0 0 1px #c8e0e0,
    0 0 0 2px #808080,
    0 0 0 3px #283030,
    inset 0 0 0 1px #303088;
  border-radius: 5px;
  padding: 5px;
  width:980px;
  height: 400px;
}
h1 {
	font-size: 14px;
}
p {
	font-size: 11px;
}